--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
f5-tts
demucs
gradio
librosa
soundfile
pydub
tqdm
openai-whisper
imageio-ffmpeg
customtkinter
pygame
pyaudio
sounddevice
click
